# This is the git ignore for python
# ignore binaries in bin/ such as e.g. py78a
bin/py*
bin/windsave2table*
bin/rad_hydro*
bin/inspect_wind*
bin/modify_wind*

# Run files
*.spec*
*.pf.old
*.out.pf
mod.pf

# Object files
*.o
*.ko
*.obj
*.elf

# Build directories
cmake-build-*
build

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# things from gsl, may not be necessary
software/gsl*
software/cunit*
include/gsl/
include/CUnit/
lib/pkgconfig/

# the configure Makefile should not be tracked
Makefile

# sphinx stuff
docs/sphinx/html/
docs/sphinx/doctrees/
docs/sphinx/venv/

# doxygen stuff
docs/doxygen/html/
docs/doxygen/latex/

# For if you're running py_progs in a virtual environment
py_progs/venv/
py_progs/*.html

# For when the wiki is cloned locally
wiki/

# python and system files
*.pyc
*~
*.DS_Store
**/*foo.txt

# some gsl files
*.Plo
*.Po

# Some atomic data files should not be tracked by this repository
data/
xmod/

# avoid tracking symbolic links errenously put in xdata
xdata/xdata

# we shouldn't be tracking version.h either
source/version.h

# we also should not track templates.h.old either
source/templates.h.old

# python output files
*.diag
*.spec
*.log_spec
*.spec_tot
*.log_spec_tot
*.rdpar
*.sig
*.out.pf
logfile

# IDE files
.idea/
**/*.vscode/
py_progs/.idea/
scratch/

