language: c
compiler:
    - gcc

git:
    # first we clone the structure directory 
    - git clone --depth=50 --branch=structure git://github.com/jhmatthews/python.git jhmatthews/python
    - mkdir progs
    - cd progs
    - git clone git://github.com/jhmatthews/python.git

branches:
  only:
    - Travis

install:
    # First make cfitsio library
    - export PYTHON=$TRAVIS_BUILD_DIR
    - cd software/cfitsio3040
    - ./configure 
    - make
    - mv libcfitsio.a ../../lib
    - make clean

    # Then make GSL library
    - cd ../../software/gsl-1.15
    - ./configure --disable-shared --prefix=$PYTHON/gsl
    - make
    - make install
    - make clean

script:
    # now we can make actual source code
    - cd progs/python
    - make test
    - make clean
