#####################################################################################
#
#       James Matthews, University of Southampton
#                   6 Feb 2014
#
# This is the travis yml file which controls the test builds 
# for Python, the radiative transfer code hosted at https://github.com/agnwinds/python
#
# Procedure:
#       - travis automatically clones the main dev branch of the repository
#       - we clone the rest the atomic data from the data repository
#       - we then run some simple test models to check we are reading in data and so on
#   
#####################################################################################

language: c

compiler:
    - gcc

# only want to run this test when we commit to dev
branches:
  only:
    - dev

# specify email notifications
notifications:
  email:
    recipients:
      - james.matthews@physics.ox.ac.uk
      - long@stsci.edu
      - nick_higginbottom@fastmail.fm
    on_success: never      # default: change
    on_failure: always      # default: always

install:
    # first configure
    - breakthecode
    - export PYTHON=$TRAVIS_BUILD_DIR
    - export PATH=$PATH:$PYTHON/bin 
    - ./configure

    # do installation
    - make install


    #Then clone data
    - mkdir data
    - git clone --depth=50 git://github.com/agnwinds/data.git data


script:
    - echo $PWD
    - cd source/
    - make clean
    - make CC=gcc py_wind
    - make clean
    - cd ../examples/core/
    - Setup_Py_Dir
    - py -i cv_macro_benchmark
    - py -i cv_standard
    - py -i fiducial_agn
    - py -i 1d_sn
    - py -i -d sv_detailedmode
    - cd ../beta/
    - Setup_Py_Dir
    - py -i agn_ss_2010_modela
    - py -i ulx1
    - py -i ngc5548
    - py -i lamp_post
    - py -i cv_import
