#####################################################################################
#
#       James Matthews, University of Southampton
#                   6 Feb 2014
#
# This is the travis yml file which controls the test builds 
# for Python, the radiative transfer code hosted at https://github.com/agnwinds/python
#
# Procedure:
#       - travis automatically clones the main dev branch of the repository
#       - we clone the rest the atomic data from the data repository
#       - we then run some simple test models to check we are reading in data and so on
#   
#####################################################################################

language: c

compiler:
    - gcc

# only want to run this test when we commit to dev
branches:
  only:
    - dev

# specify email notifications
notifications:
  email:
    recipients:
      - james.matthews@physics.ox.ac.uk
      - long@stsci.edu
      - nick_higginbottom@fastmail.fm
    on_success: never       # default: change
    on_failure: always      # default: always

# install numpy for test scripts
before_install:                                                                                                                                                                                                                     
  - sudo apt-get update -qq                                                                                                                                                                                                         
  - sudo apt-get install -qq python3-numpy 
  - sudo apt-get install -qq python3-astropy

install:
    # first configure
    - export PYTHON=$TRAVIS_BUILD_DIR
    - export PATH=$PATH:$PYTHON/bin:$PYTHON/py_progs
    - export PYTHONPATH=$PYTHONPATH:$PYTHON/py_progs
    - ./configure

    # do installation
    - make travis_install

script:
    - echo $PWD
    - cd source/
    - make clean
    - make CC=gcc INDENT=no py_wind
    - make CC=gcc INDENT=no windsave2table
    - make clean
    - cd ../examples/travis/
    - Setup_Py_Dir
    - py -f -v 1 balmer_test
    - python3 ../../py_progs/balmer_decrement.py balmer_test
    - py -i cv_macro_benchmark
    - py -i cv_standard
    - py -i fiducial_agn
    - py -i 1d_sn
    - py -i -d sv_detailedmode
    - py -i agn_ss_2010_modela
    - py -i ulx1
    - py -i ngc5548
    - py -i lamp_post
    - py -i cv_standard_import
