name: C/C++ CI

on:
  push:
    branches:
      - "dev"
      - "main"
  pull_request:
    branches:
      - "dev"
      - "main"
env:
  PYTHON: ${{ github.workspace }}

jobs:
  greeting_job:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: "Print out environment variables"
      run: |
        echo "WORKSPACE IS $GITHUB_WORKSPACE $PYTHON"
        $PYTHON/bin/Setup_Py_Dir

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: configure
      run: ./configure
    - name: make gh_workflow_install
      run: make gh_workflow_install

  run:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v3
      with:
        python-version: '3.x' # Version range

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install wheel
        cd $PYTHON/examples/gh-workflow/
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: compile helper programs and setup
      run: |
        cd $PYTHON/source/
        make clean
        make CC=gcc INDENT=no all
        make check
        make clean
        cd $PYTHON/examples/gh-workflow/
        $PYTHON/bin/Setup_Py_Dir

    - name: balmer test
      run: |
        cd $PYTHON/examples/gh-workflow/
        $PYTHON/bin/py -f -v 1 balmer_test
        python $PYTHON/py_progs/balmer_decrement.py balmer_test

    - name: read in parameter files
      run: |
        cd $PYTHON/examples/gh-workflow/
        $PYTHON/bin/py -i cv_macro_benchmark
        $PYTHON/bin/py -i cv_standard
        $PYTHON/bin/py -i fiducial_agn
        $PYTHON/bin/py -i 1d_sn
        $PYTHON/bin/py -i -d sv_detailedmode
        $PYTHON/bin/py -i agn_ss_2010_modela
        $PYTHON/bin/py -i XRB_standard.pf
        $PYTHON/bin/py -i ngc5548
        $PYTHON/bin/py -i lamp_post
        $PYTHON/bin/py -i cv_standard_import
